
.correct {

  color: rgba(0, 128, 0, 0.6);
  font-weight: 500;

}

.incorrect {

  color: rgba(255, 0, 0, 0.6);
  font-weight: 500;
  text-decoration: line-through;

}

.add-blink {

  animation: blink 1.5s infinite;

}

.fade {

  display: inline-block;
  height: 100%;
  width: 25px;
  position: fixed;
  left: -50;
  border: 1px solid orange;

}

@keyframes blink {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
